###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE and OS files ###
/.idea/
.idea
/.vscode/
.DS_Store
*.swp
*.swo
*~
###< IDE and OS files ###
